/* fix default styling */
body {
  margin: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/* End default styling fixes */

body {
  display: flex;
  flex-direction: row;
  background-color: rgb(247, 245, 240);
}
.bgImageContainer {
  background-image: url(./surveyor-cropped.png);
  background-size: cover;
  width: 50%;
  height: 100vh;
}
/* form {
  max-width: 800px;
} */
.header {
  height: 29vh;
  min-height: 16rem;
}
:root {
  --link-color: rgb(158, 113, 77);
}
a {
  font-weight: bold;
  text-decoration: none;
  color: var(--link-color);
}
span {
  color: rgb(122, 122, 122);
}
input {
  box-sizing: border-box;
  padding: 0%;
  margin-top: 0.1rem;
  min-width: 12rem;
  width: 100%;
  height: 30px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  display: inline-block;
  font-size: 1.2rem;
}
#pass:invalid,
#passConfirm:invalid {
  border: 1px solid #ff0000;
}
input:valid {
  background: "✓";
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 20px 20px;
}
fieldset {
  padding: 2.2rem;
  margin: 0%;
  padding-right: 20rem;
  height: 20remrem;
  background-color: #fff;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 2rem;
  font-size: 0.65rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  filter: drop-shadow(2px 5px 6px #c2c1be);
  border: none;
}

.signUpCopy {
  text-align: center;
  padding: 2.2rem;
  padding-right: 20rem;
  padding-top: 7rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: left;
}
form {
  display: grid;
  gap: 1rem;
}
fieldset > input {
  display: flex;
}
#submit {
  margin-left: 2.2rem;
  margin-top: 1rem;
  width: 12rem;
  height: 3rem;
  background-color: var(--link-color);
  color: white;
  font-weight: 900;
}
.already {
  padding-left: 2.2rem;
}
legend {
  padding-top: 4rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--link-color);
}
.blackBar {
  height: 10rem;
  background-color: rgba(0, 0, 0, 0.425);
  margin-top: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.corpName {
  color: white;
  font-size: 5rem;
  font-family: 'Cinzel Decorative', cursive;
}
.credit {
  position: fixed;
  bottom: 0%;
  color: rgb(177, 177, 177);
  font-size: .8rem;
}
.creditLink {
  color: #c2c1be;
}
#submit:hover {
  cursor: pointer;
}